# ignore everything whose name starts with a dot
.*
# discard ignoring Git configuration files
!.gitattributes
!.gitignore
!.gitkeep

# discard ignoring GitHub settings
!/.github/

# Log file
*.log

# ignore Eclipse specifics
bin/

# ignore IntelliJ specifics
*.iml

# ignore Maven specifics(but discard ignoring .mvn/ folder in the root)
target/
!/.mvn/
