<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration><!--  to avoid warning in Eclipse -->
<configuration>

    <!--
    This configuration will switch of logging to console,
    but logging itself will work, which keep possibility to 
    write logging related unit-test
    -->

    <appender name="DONOTHING"
        class="ch.qos.logback.core.helpers.NOPAppender" />

    <root level="trace">
        <appender-ref ref="DONOTHING" />
    </root>
</configuration>